RPAStudio/*/Debug
RPAStudio/*/Release
RPAStudio/*/obj
RPAStudio/packages/*
RPAStudio/*/bin
RPAStudio/Debug
RPAStudio/Release
RPAStudio/ipch
RPAStudio/RPAStudio.VC.db
RPAStudio/.vs
RPAStudio/DesktopGrab
RPAStudio/*/GeneratedFiles
*.vcxproj.user
*shproj.user
*csproj.user
*.user
/RPAStudio/Activities/RPA.Core.Activities/bin/Debug
/RPAStudio/Activities/RPA.Core.Activities/obj
/RPAStudio/Activities/RPA.Integration.Activities/obj
/RPAStudio/Activities/RPA.Script.Activities/obj/Debug
/RPAStudio/Activities/RPA.UIAutomation.Activities/obj
/.vs/RPAStudio/v16
/.vs
/RPAStudio/Activities/RPA.Integration.Activities/bin/Debug
/RPAStudio/Activities/RPA.Script.Activities/bin/Debug
/RPAStudio/Activities/RPA.UIAutomation.Activities/bin/Debug
/RPAStudio/Activities/RPA.Core.Activities/bin/Release
/RPAStudio/Activities/RPA.Integration.Activities/bin/Release
/RPAStudio/Activities/RPA.Script.Activities/bin/Release
/RPAStudio/Activities/RPA.Script.Activities/obj/Release
/RPAStudio/Activities/RPA.UIAutomation.Activities/bin/Release
