<?xml version="1.0" encoding="utf-8"?>
<!--该配置文件保存默认包源，请勿手动修改-->
<configuration>
  <packageSources>
    <!-- Nuget默认包源地址-->
    <add key="ローカル" value=".\Packages" />
    <add key="公式" value="http://rpa-nexus.openserver.cn/repository/rpa-community-activity/" />
  </packageSources>
   <config>
    <!-- 指定全局包下载路径 -->
    <add key="globalPackagesFolder" value="%LocalAppData%\RPAStudio\Packages\.nuget\packages" />
  </config>
</configuration>
