<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle.Crypto.dll" version="1.8.1" targetFramework="net452" />
  <package id="EntityFramework" version="6.0.0" targetFramework="net452" />
  <package id="Extended.Wpf.Toolkit" version="3.7.0" targetFramework="net452" />
  <package id="FluentFTP" version="26.0.2" targetFramework="net452" />
  <package id="Google.Protobuf" version="3.6.1" targetFramework="net452" />
  <package id="HtmlAgilityPack" version="1.11.12" targetFramework="net452" />
  <package id="iTextSharp" version="5.5.13.1" targetFramework="net452" />
  <package id="MailKit" version="2.4.1" targetFramework="net452" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net452" />
  <package id="Microsoft.Office.Interop.Outlook" version="15.0.4797.1003" targetFramework="net452" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1003" targetFramework="net452" />
  <package id="MimeKit" version="2.4.1" targetFramework="net452" />
  <package id="SSH.NET" version="2020.0.2" targetFramework="net452" />
</packages>